body {
	font-family: Roboto,sans-serif;
}

.choco__form {
	font-size: 14px;
	line-height: 16px;
	border: 1px solid #e1e1e1;
	width: 380px;
	height: 300px;
	padding: 50px 50px 50px 50px;
	text-align: center;
	margin-top: 100px;
	border-radius: 4px;
	color: #939393;
	position: relative;
	margin: 10% auto;

 }

.choco__text {
	margin-top: 20px;
}

.choco__button {

	color: black;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	width: 350px;
	height: 40px;
	margin-top: 20px;
	background-color: #e1e1e1;
}
.choco__button:hover {
transition: 0.3s;
	background-color: #fcbd0f;
}
.choco__input {
	color: black;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	width: 350px;
	height: 40px;
	margin-top: 20px;
}
.choco__form input[type="text"]::placeholder {
	position: relative;
	left: 1vw;
}

.choco__form input[type="password"]::placeholder {
	position: relative;
	left: 4vw;
}

.choco__img {
	margin-bottom:20px ;
}

.warning{
	font-size: 14px;
	color: red;
	display: none;
}
